.container {
  position: relative;
  width: 100%;
  height: 600px;
  background: var(--foreground);
  opacity: 0.05;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .container {
    height: 350px;
    border-radius: 8px;
  }
}
